# Python 3.11

python-a2a
a2a-sdk
google-cloud-aiplatform
google-genai
google-adk

google-adk[eval]
rouge-score

psycopg2-binary
pydantic
python-dotenv

crewai 

langgraph
langchain
langchain-community
langchain-google-genai

# Machine Learning dependencies for TRYBE models
pandas
numpy
scikit-learn
ipython 
fastapi